<!--
Author: W3layouts
Author URL: http://w3layouts.com
License: Creative Commons Attribution 3.0 Unported
License URL: http://creativecommons.org/licenses/by/3.0/
-->
<!DOCTYPE html>
<html>
	<head>	
		<title>Register-login-form Website Template | Home :: w3layouts</title>
		<link href="css/style.css" rel='stylesheet' type='text/css' />
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); }function myFunction() {
            alert("hi");
        } </script>
		<!--webfonts-->
		<link href='http://fonts.googleapis.com/css?family=Lobster|Pacifico:400,700,300|Roboto:400,100,100italic,300,300italic,400italic,500italic,500' ' rel='stylesheet' type='text/css'>
		<link href='http://fonts.googleapis.com/css?family=Raleway:400,100,500,600,700,300' rel='stylesheet' type='text/css'>
		<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.4.1/dist/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
		<!--webfonts-->
	</head>
	<body>	
			<!--start-login-form-->
				<div class="main">
			    	<div class="login-head">
					    <h1>Flight Delay Prediction</h1>
					</div>
					<div  class="wrap">
						  <div class="Regisration">
						  	<div class="Regisration-head">
						    	<h2><span></span><i class="bi bi-airplane"></i>Fill in flight details</h2>
						 	 </div>
						  	<form>
						  		<input type="text" value="Flight Number" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'Flight Number';}" >
						  		
								  <select name="origin" id="origin">
									<option value="Origin">---Origin---</option>
									<option value="alt">ATL - Hartsfield-Jackson Atlanta International</option>
									<option value="dtm">DTW - Detroit Metropolitan Wayne County</option>
									<option value="sea">SEA - Seattle-Tacoma International</option>
									<option value="msp">MSP - Minneapolis−Saint Paul International</option>
									<option value="jfk">JFK - John F. Kennedy International</option>
								  </select>
						  		
								  <select name="Destination" id="Destination">
									<option value="Origin">---Destination---</option>
									<option value="alt">ATL - Hartsfield-Jackson Atlanta International</option>
									<option value="dtm">DTW - Detroit Metropolitan Wayne County</option>
									<option value="sea">SEA - Seattle-Tacoma International</option>
									<option value="msp">MSP - Minneapolis−Saint Paul International</option>
									<option value="jfk">JFK - John F. Kennedy International</option>
								  </select>
					
						  		<input type="text" value="Month" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'Month';}" >
								  <input type="text" value="Day of Month" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'Day of Month';}" >
						  		<input type="text" value="Day of Week" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'Day of Week';}" >
								  <input type="text" value="Departure Time" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'Departure Time';}" >
						  		<input type="text" value="Arrival Time" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'Arrival Time';}" >
								
								
								 <div class="Remember-me">
								<div class="p-container">
								<label class="checkbox"><input type="checkbox" name="checkbox" checked><i></i>Notify me before my flight</label>
								<div class ="clear"></div>
							</div>
												 
								<div class="submit">
									<input type="submit" onclick="myFunction()" value="Predict my Flight" >
								</div>
									<div class="clear"> </div>
								</div>
											
						  </form>
					</div>
					
			</div>
				<!--//End-login-form-->	
						
			  </div>
	</body>
</html>


